@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$width: 15px;
$height: 15px;
$bounce_height: 30px;

.pre-loader {
  position: absolute;
  #text {
    color: white;
    display: inline-block;
    margin-left: 5px;
    font-family: Montserrat;
  }
  .bounceball {
    position: relative;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: white;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }
  
  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
} //kota shimura @wabeshew

.icon-size {
  height: 10vh;
  width: 13vw;
  margin-left: 2vw;
  @media (min-width: 451px) and (max-width: 730px) {
    height: 15vh;
    width: 15vw;
    margin-left: 2vw;
  }
  @media (min-width: 731px) and (max-width: 1000px) {
    height: 10vh;
    width: 8vw;
    margin-left: 2vw;
  }
  @media (min-width: 1001px) {
    height: 10vh;
    width: 6vw;
    margin-left: 2vw;
  }
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  justify-content: center;
  @media (min-width: 451px) and (max-width: 700px) {
    width: 95%;
    display: flex;
    margin: 2vh auto;
    font-size: 1.2em;
    
  }
  @media (min-width: 701px) {
    width: 80%;
    display: flex;
    margin: 2vh auto;
    font-size: 1.2em;
  }
  text-align: left;
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  @media (min-width: 451px) and (max-width: 700px) {
    margin-left: 10vh;
  }
  @media (min-width: 701px) {
    margin-bottom: 0;
    padding: 0; 
  }
}

.accordion:hover {
  background-color: #ccc;
}

.active {
  margin-bottom: 0; 
  &:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
}

.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  @media (min-width: 451px) and (max-width: 700px) {
    width: 95%;
  }
  @media (min-width: 701px) {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.2em;
  }
}

#tripInfo {
  margin: 3vh 2vw;
}

