@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$width: 15px;
$height: 15px;
$bounce_height: 30px;


.pre-loader {
  position: absolute;
  #text {
    color: white;
    display: inline-block;
    margin-left: 5px;
    font-family: Montserrat;
  }
  .bounceball {
    position: relative;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: white;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }
  
  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
}

//kota shimura @wabeshew

#icon-holder {
  height: 10vh;
  width: 10vh;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#tripInfo {
  margin: 3vh 2vw;
}

