@import url("https://fonts.googleapis.com/css2?family=KoHo&family=Niramit&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.pre-loader {
  position: absolute; }

.pre-loader #text {
  color: white;
  display: inline-block;
  margin-left: 5px;
  font-family: Montserrat; }

.pre-loader .bounceball {
  position: relative;
  height: 37px;
  width: 15px; }

.pre-loader .bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease; }

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2); }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1); }
  100% {
    top: 0; } }

.icon-size {
  height: 10vh;
  width: 13vw;
  margin-left: 2vw; }

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc; }

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */ }

.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

#tripInfo {
  margin: 3vh 2vw; }

body {
  background: linear-gradient(135deg, orange, 65%, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s; }

button {
  font-family: "KoHo", sans-serif;
  margin: 10px 0 0 0; }

h2 {
  font-family: "KoHo", sans-serif;
  margin: 10px 0 0 0; }

.center-text {
  text-align: center; }

p,
input,
label,
h3,
h4 {
  font-family: "Niramit", sans-serif;
  margin: 0; }

#subheader {
  margin-bottom: 15px; }

#err-holder {
  text-align: center;
  width: 45vw;
  margin: 5vh auto; }

@media only screen and (max-width: 450px) {
  #err-holder {
    position: relative;
    text-align: center;
    width: 65vw;
    margin: 5vh auto;
    font-size: 1.2em;
    color: white; } }

#container {
  display: grid;
  grid-template-columns: 70vw;
  grid-template-rows: auto;
  grid-template-areas: "container-all";
  justify-content: center; }

@media only screen and (max-width: 450px) {
  #user-UI {
    grid-area: container-all;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "form" "saved" "pic" "output";
    justify-content: center;
    border-radius: 25px;
    border: 2px solid white;
    margin-top: 2vh;
    padding-bottom: 4vh; } }

#entry-form {
  grid-area: form;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 15px -2px #444444;
  border-bottom: none;
  background: black; }

#saved-div {
  grid-area: saved; }

#saved-div #saved-cities {
  display: flex; }

#saved-div #saved-header {
  margin-left: 5vw;
  margin-top: 2vh; }

#output {
  grid-area: output; }

#img-holder {
  grid-area: pic;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 2vh; }

@media only screen and (max-width: 450px) {
  .user-input {
    font-size: 0.8em;
    color: #fff;
    margin: 0 10px 30px;
    border-bottom: 1px solid #fff;
    width: 80%;
    margin: 0 0 15px 20px; }
  .user-input label {
    color: #636161; }
  .user-input input {
    font-size: 0.9em; }
  .user-input #state {
    color: #636161;
    margin: -4px;
    font-family: "Niramit", sans-serif; } }

.no-focus {
  background: transparent;
  border: none;
  color: #fff; }

.no-focus:focus {
  /*removing the border when the input areas are in focus*/
  outline: none; }

#header {
  text-align: center;
  color: #fff; }

@media only screen and (max-width: 450px) {
  .btn-style {
    display: flex;
    margin: auto;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    margin-bottom: 5vh;
    background-color: transparent;
    border: 1px solid white; }
  .btn-style:hover {
    border: 1px solid white; }
  .btn-style:active {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background: white; } }

.hidden {
  display: none; }

.trip-info {
  color: black;
  border: 1px solid black;
  margin-top: 4vh; }
