@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Niramit&display=swap');
@import "output-styles.scss";

$Koho: 'KoHo', sans-serif;
$Niramit: 'Niramit', sans-serif;
$centerTxt: center;
$white: #fff;

body {
  height: 100vh;
  background: linear-gradient(135deg,orange, 65%, cyan) ;
}

h2,
button {
  font-family: $Koho;
  margin: 10px 0 0 0;
}

p,
input,
label, 
h4 {
  font-family: $Niramit;
  margin: 0;
}

#subheader {
  margin-bottom: 15px;
}

#err-holder {
  text-align: center;
  width: 45vw;
  margin: 20vh auto;
}

// -----------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------

#container {
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 90vh 5vh;
  grid-template-areas: 
  "form"
  "ftr";
  justify-content: center;
  border-radius: 25px;
}

.user-input {
  font-size: 0.8em;
  color: $white;
  margin: 0 10px 30px;
  border-bottom: 1px solid $white; 
  width: 80%; 
  margin: 0 0 15px 20px;
  label {
    color: rgb(99, 97, 97);
  }
  input {
    font-size: 0.9em;
  }
  #state {
    color: rgb(99, 97, 97);
    margin: -4px;
    font-family: $Niramit;
  }
}

.no-focus {
  background: transparent;
  border: none;
  color: $white;
  &:focus { /*removing the border when the input areas are in focus*/
    outline: none;
  }
}

#header {
  text-align: $centerTxt;
  color: $white;
}

#userUI {
  grid-area: form;
  display: grid; 
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-template-areas: "output input";
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 15px -2px #444444;
}

#entry-form {
  grid-area: input;
  justify-content: center;
  background: black;
}

#output {
  grid-area: output;
  background-color: transparent;
  justify-content: center;
}

button {
  margin-left: 20vw;
  border: none;
  border-radius: 5px;
  color: rgb(99, 97, 97);
  font-size: 1em;
  background-color: transparent;
  &:hover {
    border: 2px solid rgb(99, 97, 97); 
  }
  &:active {
    border: 2px solid white;
  border-radius: 5px;
  color: white;
  }
}






